@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

body {
  background-color:#020911;
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;

  text-align: center;
  font-family: -apple-system, system-ui, Roboto, "Segoe UI", Helvetica, sans-serif;
  color: #cdc7c6;
}

h1, h2 {
  color: #ff7426;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: normal;
}

.adjust {
  & h3 {
    font-size: 1.2rem;
    font-weight: 600;
  }
  & select, & button {
    margin: 0.5em auto 1em;
    padding: 0.3em 0.5em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;

    background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
    border-color: #ff7426;
    border-style:solid;
    border-radius: 80px;
    border-width: medium;
    outline: none;
    
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    text-align-last: center;
    color: #cdc7c6;

    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        background-image: linear-gradient(#ff7426 0, #f93a13 100%);
      }
    }
    /* &:hover {
      background-image: linear-gradient(#ff7426 0, #f93a13 100%);
    } */
  }

}

.card-grid {
  padding: 15px 50px 50px 50px;
  max-width: 800px;
  margin: auto;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card {
  box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, 0.5);
  border-radius: 5px;
}

.temp-input {
  height: 40px;
  max-width: 200px;
  background: #cdc7c6;
  color: black;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin: 0.5em auto 1em;
  font-family: "Poppins", sans-serif;
  padding: 0;
  box-sizing: border-box;
}

.temp-input span {
  font-size: 26px;
  width: 100%;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  color: black;
}

.temp-input span.minus {
  border-right: 2px solid rgba(0, 0, 0, 0.5);
}

.temp-input span.plus {
  border-left: 2px solid rgba(0, 0, 0, 0.5);
}

.temp-input span.minus:hover,
.temp-input span.plus:hover {
  background: rgba(0, 0, 0, 0.3);
  transition-duration: 0.4s;
}

.temp-input input[type="text"] {
  width: 3ch;
  padding: 12px 8px;
  margin: 8px 8px;
  box-sizing: content-box;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  border: none;
  color: black;
  background: rgba(0, 0, 0, 0);
}

/* .adjust-light select {
  text-align-last: center;
  text-align: center;
} */